{% extends 'front.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <!--begin home section -->
<main>
    <div class="container">
        <div class="row">
            <form method="post">
                
                <section class="vh-100">
                    
                    <div class="col-md-12 text-center padding-bottom-40">
                        <h1 class="section-title">Log in to your account</h1>
                        <p class="section-subtitle">All pricing packages are backed up by a 30-day money back guarantee.</p>    
                    </div>
                    
                    <div class="container-fluid h-custom">
                        <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-md-9 col-lg-6 col-xl-5">
                            <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-login-form/draw2.png" class="img-fluid"
                            alt="Sample image">
                        </div>
                        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                            <form method='post'>
                                {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}

                                {% if app.user %}
                                    <div class="mb-3">
                                        You are logged in as <b>{{ app.user.firstname }}</b>, <a href="{{ path('app_logout') }}">Logout</a>
                                    </div>
                                {% else %}
                                    <!-- Email input -->
                                    <div class="form-outline mb-4">
                                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control form-control-lg" autocomplete="email" required autofocus  placeholder="E-mail">
                                    </div>

                                    <!-- Password input -->
                                    <div class="form-outline mb-3">
                                        <input type="password" name="password" id="inputPassword" class="form-control form-control-lg" autocomplete="current-password" required placeholder="Enter password" >
                                    </div>
        
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                                    <div class="d-flex justify-content-between align-items-center">
                                        <!-- Checkbox -->
                                        <div class="form-check mb-0">
                                            
                                        <input class="form-check-input me-2" type="checkbox"  name="_remember_me" />
                                        <label class="form-check-label" for="form2Example3">
                                            Remember me
                                        </label>
                                        </div>
                                        <a href="#!" class="text-body">Forgot password?</a>
                                    </div>

                                    <div class="text-center text-lg-start mt-4 pt-2">
                                        <button type="submit" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                                        <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="#!"
                                            class="link-danger">Register</a></p>
                                    </div>
                                {% endif %}

                            </form>
                        </div>
                        </div>
                    </div>    
                </section>
            </form>
        </div>
    </div>
</main>
{% endblock %}
