{% extends 'front.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
    <section class="home-section" id="home">
		<!--begin container -->
		<div class="container">
            <div class="row clearfix">
                <div class="col-md-6 col-sm-12">
                    <h2>Dashboard</h2>
                    {{plan.id}}
                </div>            
            </div>
        </div>
    </div>
{% endblock %}
