{% extends "front.html.twig" %}
{% block body %}
    <!--begin home section -->
    <section class="home-section" id="home">

		<!--begin container -->
		<div class="container">

	        <!--begin row -->
	        <div class="row">
	          
	            <!--begin col-md-6-->
	            <div class="col-md-6 padding-top-80">

	          		<h1>Welcome To Essentials, The&nbsp;Wold's Most Powerful SaaS Solution</h1>

	          		<p>Essentials is designed with your customers in mind, so you can track and analyze all your data in one central location. There are no limits to how you can look at your data.</p>

	        		<a href="#" class="btn-blue scrool">Start Your Free Trial</a>

	            </div>
	            <!--end col-md-6-->
	       
				<!--begin col-md-6-->
	            <div class="col-md-6">

	          		<img src="/images/hero-websites.png" class="hero-image width-100" alt="pic">

	            </div>
	            <!--end col-md-6-->

	        </div>
	        <!--end row -->

		</div>
		<!--end container -->

    </section>
    <!--end home section -->

    <!--begin section-grey -->
    <section class="section-grey section-top-border" id="about">

        <!--begin container -->
        <div class="container">

            <!--begin row -->
            <div class="row">

                <!--begin col-md-12 -->
                <div class="col-md-12 text-center">

                    <h2 class="section-title">Integrated solutions designed for small business</h2>

                    <p class="section-subtitle">Communicate with flexible tools that go where your team goes.</p>
                    
                </div>
                <!--end col-md-12 -->

                <!--begin col-md-4 -->
                <div class="col-md-4">

                    <div class="main-services">

                        <img src="images/main-service1.png" class="width-100" alt="pic">

                        <h3>Designers</h3>

                        <p>Curabitur quam etsum lacus netsum nulat iaculis ets vitae etsum nisle varius sed aliquam ets vitae netsum.</p>

                        <a href="#about" class="btn-blue-line small scrool">Essentials for Designers</a>
                        
                    </div>

                </div>
                <!--end col-md-4 -->

                <!--begin col-md-4 -->
                <div class="col-md-4">

                    <div class="main-services">

                        <img src="images/main-service1.png" class="width-100" alt="pic">

                        <h3>Marketers</h3>

                        <p>Curabitur quam etsum lacus netsum nulat iaculis ets vitae etsum nisle varius sed aliquam ets vitae netsum.</p>

                        <a href="#about" class="btn-blue-line small scrool">Essentials for Marketers</a>
                        
                    </div>

                </div>
                <!--end col-md-4 -->

                <!--begin col-md-4 -->
                <div class="col-md-4">

                    <div class="main-services">

                        <img src="images/main-service1.png" class="width-100" alt="pic">

                        <h3>Agencies</h3>

                        <p>Curabitur quam etsum lacus netsum nulat iaculis ets vitae etsum nisle varius sed aliquam ets vitae netsum.</p>

                        <a href="#about" class="btn-blue-line small scrool">Essentials for Agencies</a>
                        
                    </div>

                </div>
                <!--end col-md-4 -->
           
            </div>
            <!--end row -->
            
        </div>
        <!--end container -->

    </section>
    <!--end section-grey -->

    <!--begin section-white -->
    <section class="section-white section-top-border">

        <!--begin container -->
        <div class="container">

            <!--begin row -->
            <div class="row">

                <!--begin col-md-6 -->
                <div class="col-md-6 padding-top-30">

                    <!--begin features-second -->
                    <div class="features-second">
                        
                        <div class="dropcaps-circle">
                            <i class="fas fa-chart-line"></i>
                        </div>

                        <h4 class="margin-bottom-5">Customize your workflow.</h4>

                        <p>Manage any process and be ready to address any challenge with total ease.</p>

                    </div>
                    <!--end features-second-->

                    <!--begin features-second-->
                    <div class="features-second">

                        <div class="dropcaps-circle">
                            <i class="fas fa-network-wired"></i>
                        </div>

                        <h4 class="margin-bottom-5">Easy onboarding, fast adoption.</h4>

                        <p>With Essentials getting your team on board is as simple as sending an email.</p>

                    </div>
                    <!--end features-second-->

                    <!--begin features-second-->
                    <div class="features-second">

                        <div class="dropcaps-circle">
                            <i class="fas fa-rocket"></i>
                        </div>

                        <h4 class="margin-bottom-5">Improve subscriber retention.</h4>

                        <p>Analyze customers by region, discounts and more and put a plan in place to improve subscriber retention.</p>

                    </div>
                    <!--end features-second-->

                </div>
                <!--end col-md-6-->
           
                <!--begin col-md-6-->
                <div class="col-md-6 wow slideInRight" data-wow-delay="0.25s" style="visibility: visible; animation-delay: 0.25s; animation-name: slideInRight;">

                    <img src="http://placehold.it/800x600" class="width-100 box-shadow" alt="pic">

                </div>
                <!--end col-md-6-->

            </div>
            <!--end row -->
            
        </div>
        <!--end container -->

    </section>
    <!--end section-white -->

    <!--begin section-blue -->
    <section class="section-blue">

        <!--begin container -->
        <div class="container">

            <!--begin row -->
            <div class="row">

                <!--begin col-md-6-->
                <div class="col-md-6">
                    
                    <!--begin video-popup-wrapper-->
                    <div class="video-popup-wrapper">

                        <!--begin popup-gallery-->
                        <div class="popup-gallery">
                            
                            <img src="http://placehold.it/555x370" class="width-100 video-popup-image" alt="pic">

                            <a class="popup4 video-play-icon" href="https://www.youtube.com/watch?v=FPfQMVf4vwQ">
                                <i class="fas fa-play"></i>
                            </a>

                        </div>
                        <!--end popup-gallery-->

                    </div>
                    <!--end video-popup-wrapper-->

                </div>
                <!--end col-md-6-->

                <!--begin col-md-6-->
                <div class="col-md-6 padding-top-30 padding-left-20">

                    <h2 class="white-text">Real-time reporting on your most important metrics.</h2>

                    <p class="white-text">Work is completely different today. Teams are more agile, more collaborative and drive innovation faster than ever — and the most successful companies have a digital workplace to match.</p>

                    <p class="white-text">Essentials is designed with your customers in mind, so you can track and analyze all your data in one central location. Essentials offer a better experience for your customers.</p>

                </div>
                <!--end col-md-6-->
           
            </div>
            <!--end row -->
            
        </div>
        <!--end container -->

    </section>
    <!--end section-blue -->

    <!--begin pricing section -->
    <section class="section-grey" id="pricing">

        <!--begin container -->
        <div class="container">

            <!--begin row -->
            <div class="row">

                <!--begin col-md-12 -->
                <div class="col-md-12 text-center padding-bottom-40">

                    <h2 class="section-title">Pricing for every business, at any stage</h2>

                    <p class="section-subtitle">All pricing packages are backed up by a 30-day money back guarantee.</p>
                    
                </div>
                <!--end col-md-12 -->

                <!--begin col-md-4-->
                <div class="col-md-4">

                    <div class="price-box">

                        <ul class="pricing-list">

                            <li class="price-title">BASIC</li>

                            <li class="price-value">$25</li>

                            <li class="price-subtitle">Per Month</li>

                            <li class="price-text"><i class="fas fa-check blue"></i>Custom Charts</li>

                            <li class="price-text"><i class="fas fa-check blue"></i>5 Mailboxes, 10 Gb Storage</li>

                            <li class="price-text"><i class="fas fa-check blue"></i>Unlimited Free Dashboards</li>

                            <li class="price-text"><i class="fas fa-check blue"></i>Access to all APIs</li>

                            <li class="price-tag-line"><a href="{{path('plan_display',{'name':'basic'})}}">FREE 15-DAY TRIAL</a></li>

                        </ul>

                    </div>

                </div>
                <!--end col-md-4 -->

                <!--begin col-md-4-->
                <div class="col-md-4">

                    <div class="price-box">

                    <div class="ribbon blue"><span>Popular</span></div>

                        <ul class="pricing-list">

                            <li class="price-title">STANDARD</li>

                            <li class="price-value">$99</li>

                            <li class="price-subtitle">Per Month</li>

                            <li class="price-text strong"><i class="fas fa-check blue"></i><strong>All Basic features</strong></li>

                            <li class="price-text"><i class="fas fa-check blue"></i>15 Mailboxes, 50 Gb Storage</li>

                            <li class="price-text"><i class="fas fa-check blue"></i>Interactive Screen Sharing</li>

                            <li class="price-text"><i class="fas fa-check blue"></i>Full Reports History</li>

                            <li class="price-tag"><a href="#">FREE 15-DAY TRIAL</a></li>

                        </ul>

                    </div>

                </div>
                <!--end col-md-4 -->

                <!--begin col-md-4-->
                <div class="col-md-4">

                    <div class="price-box">

                        <ul class="pricing-list">

                            <li class="price-title white-text">PRO</li>

                            <li class="price-value white-text">$199</li>

                            <li class="price-subtitle white-text">Per Month</li>

                            <li class="price-text white-text"><i class="fas fa-check blue"></i><strong>All Standard Features</strong></li>

                            <li class="price-text"><i class="fas fa-check blue"></i>50 Mailboxes, 90 Gb Storage</li>

                            <li class="price-text"><i class="fas fa-check blue"></i>Dedicated Account Manager</li>

                            <li class="price-text"><i class="fas fa-check blue"></i>24/7 Priority Support</li>

                            <li class="price-tag-line"><a href="#">FREE 15-DAY TRIAL</a></li>

                        </ul>

                    </div>

                </div>
                <!--end col-md-4 -->

            </div>
            <!--end row -->

        </div>
        <!--end container -->

    </section>
    <!--end pricing section -->

    <!--begin section-white -->
    <section class="section-white no-padding-bottom section-top-border">

		<!--begin container -->
		<div class="container">

	        <!--begin row -->
	        <div class="row">

                <!--begin col-md-6-->
                <div class="col-md-6 padding-top-120 text-center">

                    <p class="testimonial-single">“People who succeed in business aren't afraid to hear feedback from their customers - they actually thrive from it.”</p>

                    <h5 class="margin-bottom-5">Johanna S. Richardson</h5>

                    <p class="blue">CEO Essentials</p>

                </div>
                <!--end col-md-6-->
           
                <!--begin col-md-6-->
                <div class="col-md-6">

                    <img src="http://placehold.it/555x550" class="width-100" alt="pic">

                </div>
                <!--end col-md-6-->

	        </div>
	        <!--end row -->
			
		</div>
		<!--end container -->

    </section>
    <!--end section-white -->

    <!--begin partners section -->
    <section class="section-grey partners-paddings section-top-border section-bottom-border">
        
        <!--begin container -->
        <div class="container">
            
            <!--begin row -->
            <div class="row">
                
                <!--begin col-md-12 -->
                <div class="col-md-12 text-center">

                    <h3 class="section-title">Trusted by over 250 great businesses</h3>

                </div>
                <!--end col-md-12 -->

                <!--begin col-md-12 -->
                <div class="col-md-12 text-center">

                    <!--begin partners-mentions -->
                    <ul class="partners-mentions">

                        <li><img src="images/award4a.png" alt="CSS Awards"></li>

                        <li><img src="images/award1a.png" alt="Awwwards"></li>

                        <li><img src="images/award5.png" alt="CSS Winner"></li>

                        <li><img src="images/award3a.png" alt="CSS Design Awards"></li>

                    </ul>
                    <!--end partners-mentions -->

                </div>
                <!--end col-md-12 -->

            </div>
            <!--end row -->

        </div>
        <!--end container -->

    </section>
    <!--end partners section -->

    <!--begin faq section -->
	<section class="section-white small-padding-bottom">
        
        <!--begin container-->
        <div class="container">

            <!--begin row-->
            <div class="row">
            
                <!--begin col-md-6-->
                <div class="col-md-6 margin-top-10">

                    <img src="http://placehold.it/800x540" class="width-100 box-shadow" alt="picture">

                </div>
                <!--end col-sm-6-->
                
                <!--begin col-md-6-->
                <div class="col-md-6 margin-top-20">

                	<h3>Frequently Asked Questions</h3>

                    <!--begin accordion -->
                    <div class="accordion" id="accordionFAQ">

                        <!--begin card -->
                        <div class="card">
                            
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                  Email and user settings
                                </button>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionFAQ">
                                <div class="card-body">
                                Nemo enim ipsam voluptatem quia voluptas sit aspernatur netsum loris fugit, sed quia magni dolores eos qui ratione sequi nesciunt, neque et quis autem velis reprehenderit ets quis velit.
                                </div>
                            </div>

                        </div>
                        <!--end card -->

                        <!--begin card -->
                        <div class="card">

                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                  Import new billing system data
                                </button>
                                </h5>
                            </div>

                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionFAQ">
                                <div class="card-body">
                                Nemo enim ipsam voluptatem quia voluptas sit aspernatur netsum loris fugit, sed quia magni dolores eos qui ratione sequi nesciunt, neque et quis autem velis reprehenderit ets quis velit.
                                </div>
                            </div>

                        </div>
                        <!--end card -->

                        <!--begin card -->
                        <div class="card">

                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                  Working with integrated apps
                                </button>
                                </h5>
                            </div>

                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionFAQ">
                                <div class="card-body">
                                Nemo enim ipsam voluptatem quia voluptas sit aspernatur netsum loris fugit, sed quia magni dolores eos qui ratione sequi nesciunt, neque et quis autem velis reprehenderit ets quis velit.
                                </div>
                            </div>

                        </div>
                        <!--end card -->

                        <!--begin card -->
                        <div class="card">

                            <div class="card-header" id="headingFour">
                                <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                  Two-factor authentication
                                </button>
                                </h5>
                            </div>
                            
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionFAQ">
                                <div class="card-body">
                                Nemo enim ipsam voluptatem quia voluptas sit aspernatur netsum loris fugit, sed quia magni dolores eos qui ratione sequi nesciunt, neque et quis autem velis reprehenderit ets quis velit.
                                </div>
                            </div>

                        </div>
                        <!--end card -->

                    </div>
                    <!--end accordion -->

                </div>
                <!--end col-sm-6-->
            
            </div>
            <!--end row-->
    
        </div>
        <!--end container-->
    
    </section>
    <!--end faq section -->

  	<!--begin team section -->
  	<section class="section-grey section-top-border" id="team">

	    <!--begin container-->
        <div class="container">

            <!--begin row-->
            <div class="row">
          
				<!--begin col-md-12 -->
				<div class="col-md-12 text-center">

					<h2 class="section-title">The Team Behind Essentials</h2>

					<p class="section-subtitle">There are many variations of passages of Lorem Ipsum available, but the majority<br>have suffered alteration, by injected humour, or new randomised words.</p>
					
				</div>
				<!--end col-md-12 -->
                
                <!--begin team-item -->
                <div class="col-sm-12 col-md-4">

	                <div class="team-item">
	                
	                    <img src="http://placehold.it/510x380" class="team-img" alt="pic">
	                   
	                    <h3>CHRISTINA HAWKINS</h3>
	                    
	                    <div class="team-info"><p>Head of SEO</p></div>

	                    <p>Johnathan is our  co-founder and has developed search strategies for a variety of clients for over 5 years.</p>
	                
	                    <ul class="team-icon">
	                    
	                        <li><a href="#" class="twitter"><i class="fab fa-twitter"></i></a></li>
	                        
	                        <li><a href="#" class="pinterest"><i class="fab fa-pinterest"></i></a></li>
	                        
	                        <li><a href="#" class="facebook"><i class="fab fa-linkedin-in"></i></a></li>
	                        
	                        <li><a href="#" class="dribble"><i class="fab fa-dribbble"></i></a></li>
	                        
	                    </ul>
	                    
                	</div>

                </div>
                <!--end team-item -->
                 
                <!--begin team-item -->
                <div class="col-sm-12 col-md-4">

	                <div class="team-item">
	                
	                    <img src="http://placehold.it/510x380" class="team-img" alt="pic">
	                   
                        <h3>ANDRES JOHANSON</h3>
                        
                        <div class="team-info"><p>Marketing Manager</p></div>

                        <p>Andres fell in love with marketing at the school and looks forward to being part of the industry for years.</p>
                    
	                    <ul class="team-icon">
	                    
	                        <li><a href="#" class="twitter"><i class="fab fa-twitter"></i></a></li>
	                        
	                        <li><a href="#" class="pinterest"><i class="fab fa-pinterest"></i></a></li>
	                        
	                        <li><a href="#" class="facebook"><i class="fab fa-linkedin-in"></i></a></li>
	                        
	                        <li><a href="#" class="dribble"><i class="fab fa-dribbble"></i></a></li>
	                        
	                    </ul>
	                    
	                </div>

                </div>
                <!--end team-item -->
                               
                <!--begin team-item -->
                <div class="col-sm-12 col-md-4">

	                <div class="team-item">
	                
	                    <img src="http://placehold.it/510x380" class="team-img" alt="pic">
	                   
                        <h3>ALEXANDRA SMITHS</h3>
                        
                        <div class="team-info"><p>SEO Specialist</p></div>

                        <p>Graduating with a degree in Spanish, English and French, she has always loved writing.</p>
                    
	                    <ul class="team-icon">
	                    
	                        <li><a href="#" class="twitter"><i class="fab fa-twitter"></i></a></li>
	                        
	                        <li><a href="#" class="pinterest"><i class="fab fa-pinterest"></i></a></li>
	                        
	                        <li><a href="#" class="facebook"><i class="fab fa-linkedin-in"></i></a></li>
	                        
	                        <li><a href="#" class="dribble"><i class="fab fa-dribbble"></i></a></li>
	                        
	                    </ul>
	                    
	                </div>

                </div>
                <!--end team-item -->
            
            </div>
            <!--end row-->
        
        </div>
        <!--end container-->

  	</section>
  	<!--end team section-->

	<!--begin showcase section-->
  	<section class="section-blue" id="showcase">

		<!--begin container-->
		<div class="container-fluid">

			<!--begin row-->
			<div class="row">
				
				<!--begin col md 12-->
				<div class="col-md-12 text-center">

					<h2 class="section-title white-text">Explore Latest Projects</h2>

					<p class="section-subtitle white">There are many variations of passages of Lorem Ipsum available, but the majority<br>have suffered alteration, by injected humour, or new randomised words.</p>
					
				</div>
				<!--end col md 12-->

				<!--begin col md 12-->
				<div class="col-md-12 padding-top-20">

                    <!--begin carousel-->
                    <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
                        
                        <!--begin carousel-indicators-->
                        <ol class="carousel-indicators">
                            <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselIndicators" data-slide-to="1"></li>
                        </ol>
                        <!--end carousel-indicators-->

                        <!--begin carousel-inner-->
                        <div class="carousel-inner">

                            <!--begin carousel-item-->
                            <div class="carousel-item active">
                                
                                <div class="row">

                                    <div class="col-sm-3">
                                        <img src="http://placehold.it/460x600" alt="showcase" class="gallery-show">
                                    </div>

                                    <div class="col-sm-3">
                                        <img src="http://placehold.it/460x600" alt="showcase" class="gallery-show">
                                    </div>

                                    <div class="col-sm-3">
                                        <img src="http://placehold.it/460x600" alt="showcase" class="gallery-show">
                                    </div>

                                    <div class="col-sm-3">
                                        <img src="http://placehold.it/460x600" alt="showcase" class="gallery-show">
                                    </div>

                                </div>

                            </div>
                            <!--end carousel-item-->

                            <!--begin carousel-item-->
                            <div class="carousel-item">
                                
                                <div class="row">

                                    <div class="col-sm-3">
                                        <img src="http://placehold.it/460x600" alt="showcase" class="gallery-show">
                                    </div>

                                    <div class="col-sm-3">
                                        <img src="http://placehold.it/460x600" alt="showcase" class="gallery-show">
                                    </div>

                                    <div class="col-sm-3">
                                        <img src="http://placehold.it/460x600" alt="showcase" class="gallery-show">
                                    </div>

                                    <div class="col-sm-3">
                                        <img src="http://placehold.it/460x600" alt="showcase" class="gallery-show">
                                    </div>

                                </div>

                            </div>
                            <!--end carousel-item-->

                        </div>
                        <!--end carousel-inner-->

                        <!--begin carousel-control-prev-->
                        <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <!--end carousel-control-prev-->

                        <!--begin carousel-control-next-->
                        <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                        <!--end carousel-control-next-->

                    </div>
                    <!--end carousel-->

				</div>
				<!--end col md 12-->

			</div>
			<!--end row -->

		</div>
		<!--end container -->

	</section>
	<!--end gallery section -->

  	<!--begin services section -->
    <section class="section-white section-bottom-border" id="features">

        <!--begin container -->
        <div class="container">

            <!--begin row -->
            <div class="row">

                <!--begin col-md-12-->
                <div class="col-md-12 text-center padding-bottom-10">

                    <h2 class="section-title">Amazing Features</h2>

                    <p class="section-subtitle">There are many variations of passages of Lorem Ipsum available, but the majority<br>have suffered alteration, by injected humour, or new randomised words.</p>

                </div>
                <!--end col-md-12 -->

            </div>
            <!--end row -->

            <!--begin row -->
            <div class="row">

                <!--begin col-md-4-->
                <div class="col-md-4">

                    <div class="feature-box wow fadeIn" data-wow-delay="0.25s" style="visibility: visible; animation-delay: 0.25s; animation-name: fadeIn;">

                        <i class="fas fa-tachometer-alt"></i>

                        <h4>Powerful Dashboard</h4>

                        <p>Utise wisi enim minim veniam, quis et stationes ullamcorper suscipit ets lobotis nisle consequat nihis etim.</p>

                    </div>
                </div>
                <!--end col-md-4 -->

                <!--begin col-md-4-->
                <div class="col-md-4">

                    <div class="feature-box wow fadeIn" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">

                        <i class="fas fa-chart-line"></i>

                        <h4>User Friendly</h4>

                        <p>Utise wisi enim minim veniam, quis et stationes ullamcorper suscipit ets lobotis nisle consequat nihis etim.</p>

                    </div>
                </div>
                <!--end col-md-4 -->

                <!--begin col-md 4-->
                <div class="col-md-4">

                    <div class="feature-box wow fadeIn" data-wow-delay="0.75s" style="visibility: visible; animation-delay: 0.75s; animation-name: fadeIn;">

                        <i class="fas fa-bell"></i>

                        <h4>Smart Notifications</h4>

                        <p>Utise wisi enim minim veniam, quis et stationes ullamcorper suscipit ets lobotis nisle consequat nihis etim.</p>

                    </div>
                </div>
                <!--end col-md-4 -->

            </div>
            <!--end row -->

            <!--begin row -->
            <div class="row">

                <!--begin col-md-4-->
                <div class="col-md-4">

                    <div class="feature-box wow fadeIn" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeIn;">

                        <i class="fas fa-hand-holding-usd"></i>

                        <h4>Cost Control</h4>

                        <p>Utise wisi enim minim veniam, quis et stationes ullamcorper suscipit ets lobotis nisle consequat nihis etim.</p>

                    </div>
                </div>
                <!--end col-md-4 -->

                <!--begin col-md-4-->
                <div class="col-md-4">

                    <div class="feature-box wow fadeIn" data-wow-delay="1.25s" style="visibility: visible; animation-delay: 1.25s; animation-name: fadeIn;">

                        <i class="fas fa-rocket"></i>

                        <h4>Unique Features</h4>

                        <p>Utise wisi enim minim veniam, quis et stationes ullamcorper suscipit ets lobotis nisle consequat nihis etim.</p>

                    </div>
                </div>
                <!--end col-md-4 -->

                <!--begin col-md-4-->
                <div class="col-md-4">

                    <div class="feature-box wow fadeIn" data-wow-delay="1.5s" style="visibility: visible; animation-delay: 1.5s; animation-name: fadeIn;">

                        <i class="fab fa-rocketchat"></i>

                        <h4>Support 24/7</h4>

                        <p>Utise wisi enim minim veniam, quis et stationes ullamcorper suscipit ets lobotis nisle consequat nihis etim.</p>

                    </div>
                </div>
                <!--end col-md-4 -->

            </div>
            <!--end row -->

        </div>
        <!--end container -->

    </section>
    <!--end services section -->

    <!--begin testimonials section -->
    <section class="section-grey medium-paddings section-bottom-border">

        <!--begin container -->
        <div class="container">

            <!--begin row -->
            <div class="row">

                <!--begin col md 12 -->
                <div class="col-md-8 mx-auto padding-bottom-40">

                    <!--begin testimonials carousel -->
                    <div id="carouselIndicators2" class="carousel slide" data-ride="carousel">
                        
                        <!--begin carousel-indicators -->
                        <ol class="carousel-indicators testimonials-indicators">
                            <li data-target="#carouselIndicators2" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselIndicators2" data-slide-to="1"></li>
                            <li data-target="#carouselIndicators2" data-slide-to="2"></li>
                        </ol>
                        <!--end carousel-indicators -->

                        <!--begin carousel-inner -->
                        <div class="carousel-inner">

                            <!--begin carousel-item -->
                            <div class="carousel-item active">
                                    
                                <!--begin testim-inner -->
                                <div class="testim-inner">

                                    <img src="http://placehold.it/200x200" alt="testimonials" class="testim-img">
                                    
                                    <p>The attention of a traveller, should be particularly turned to the various works of nature, to mark the distinctions of the climates he may explore, and to offer such useful observations on the different productions as may occur.</p>

                                    <h6>Jennifer Smith<span class="job-text"> - Web Designer</span></h6>

                                </div>
                                <!--end testim-inner -->

                            </div>
                            <!--end carousel-item -->

                            <!--begin carousel-item -->
                            <div class="carousel-item">
                                
                                <!--begin testim-inner -->
                                <div class="testim-inner">

                                    <img src="http://placehold.it/200x200" alt="testimonials" class="testim-img">
                                    
                                    <p>The attention of a traveller, should be particularly turned to the various works of nature, to mark the distinctions of the climates he may explore, and to offer such useful observations on the different productions as may occur.</p>

                                    <h6>John Doe<span class="job-text"> -  General Manager</span></h6>

                                </div>
                                <!--end testim-inner -->

                            </div>
                            <!--end carousel-item -->

                            <!--begin carousel-item -->
                            <div class="carousel-item">
                                
                                <!--begin testim-inner -->
                                <div class="testim-inner">

                                    <img src="http://placehold.it/200x200" alt="testimonials" class="testim-img">
                                    
                                    <p>The attention of a traveller, should be particularly turned to the various works of nature, to mark the distinctions of the climates he may explore, and to offer such useful observations on the different productions as may occur.</p>

                                    <h6>Alexandra Smith<span class="job-text"> - App Magazine Editor</span></h6>

                                </div>
                                <!--end testim-inner -->
            
                            </div>
                            <!--end carousel-item -->

                        </div>
                        <!--end carousel-inner -->

                    </div>
                    <!--end testimonials carousel -->

                </div>
                <!--end col md 12-->

            </div>
            <!--end row -->

        </div>
        <!--end container -->

    </section>
    <!--end testimonials section -->

	<!--begin section-white -->
    <section class="section-white section-bottom-border">
        
        <!--begin container-->
        <div class="container">

            <!--begin row-->
            <div class="row">
            
                <!--begin col-md-6-->
                <div class="col-md-6 padding-top-20">

                	<h3>Get ready to discover all the benefits and secrets of our amazing software.</h3>

                	<p>Velis demo enim ipsam voluptatem quia voluptas sit aspernatur netsum lorem fugit, sed quia magni dolores eos qui ratione sequi nesciunt neque et poris ratione sequi enim quia tempor magni.</p>
                    
                	<ul class="benefits">
						<li><i class="fa fa-check"></i> Quia magni netsum eos qui ratione sequi.</li>
						<li><i class="fa fa-check"></i> Venis ratione sequi enim quia tempor magni.</li>
						<li><i class="fa fa-check"></i> Enim ipsam voluptatem quia voluptas.</li>
					</ul>

					<a href="#contact" class="btn-blue scrool">Get Started</a>
                    
                </div>
                <!--end col-md-6-->
            
                <!--begin col-md-6-->
                <div class="col-md-6">

                    <img src="http://placehold.it/800x630" class="hero-image width-100 box-shadow" alt="pic">

                </div>
                <!--end col-sm-6-->
                
            </div>
            <!--end row-->
    
        </div>
        <!--end container-->
    
    </section>
    <!--end section-white-->

    <!--begin newsletter section -->
    <section class="section-blue small-paddings" id="newsletter-section">

        <!--begin container -->
        <div class="container">

            <!--begin row -->
            <div class="row">

                <!--begin col-md-12 -->
                <div class="col-md-12 text-center padding-top-50 padding-bottom-20">

                    <h3 class="white-text">Seen enough? We are currently in the closed beta.<br>
                    Please enter your email to join the waiting list.</h3>

                </div>
                <!--end col-md-12 -->

                <!--begin col-md-12-->
                <div class="col-md-12 padding-bottom-40">

                    <!--begin newsletter_form_wrapper -->
                    <div class="newsletter_form_wrapper wow bounceIn" data-wow-delay="0.25s" style="visibility: visible; animation-delay: 0.25s; animation-name: bounceIn;">
                        
                        <!--begin newsletter_form_box -->
                        <div class="newsletter_form_box">
                            
                            <!--begin success_box -->
                            <p class="newsletter_success_box" style="display:none;">We received your message and you'll hear from us soon. Thank You!</p>
                            <!--end success_box -->
                            
                            <!--begin newsletter-form -->
                            <form id="newsletter-form" class="newsletter-form" action="php/newsletter.php" method="post">

                                <input id="email_newsletter" type="email" name="nf_email" placeholder="Enter Your Email Address">  

                                <input type="submit" value="GET STARTED!" id="submit-button-newsletter">

                            </form>
                            <!--end newsletter-form -->
                        
                        </div>
                        <!--end newsletter_form_box -->
            
                    </div>
                    <!--end newsletter_form_wrapper -->

                </div>
                <!--end col-md-12 -->

            </div>
            <!--end row -->

        </div>
        <!--end container -->

    </section>
    <!--end newsletter section -->

    <!--begin blog -->
    <section class="section-grey" id="blog">
        
        <!--begin container-->
        <div class="container">

            <!--begin row-->
            <div class="row">
            
                <!--begin col-md-12-->
                <div class="col-md-12 text-center">
                    <h2 class="section-title">Our Blog</h2>
                    
                    <p class="section-subtitle">Latest news, tips and best practices.</p>
                </div>
                <!--end col-md-12-->
            
            </div>
            <!--end row-->
            
            <!--begin row-->
            <div class="row">

                <!--begin col-sm-4 -->
                <div class="col-md-4">
                    
                    <!--begin blog-item -->
                    <div class="blog-item">
                        
                        <!--begin popup image -->
                        <div class="popup-wrapper">
                            <div class="popup-gallery">
                                <a href="#">
                                    <img src="http://placehold.it/555x370" class="width-100" alt="pic">
                                    <span class="eye-wrapper2"><i class="fa fa-link eye-icon"></i></span>
                                </a>
                            </div>
                        </div>
                        <!--end popup image -->
                            
                        <!--begin blog-item_inner -->
                        <div class="blog-item-inner">
                        
                            <h3 class="blog-title"><a href="#">The Guide To LinkedIn Ads</a></h3>
                            
                            <a href="#" class="blog-icons"><i class="fa fa-user"></i> Paul Smith</a>
                            
                            <a href="#" class="blog-icons last"><i class="fa fa-tags"></i> WordPress</a>
                            
                            <p>Quis autem velis ets reprehender net etid quiste voluptate velite esse quam nihis etsa sedit netsid varias.</p>
                                                  
                        </div>
                        <!--end blog-item-inner -->
                        
                    </div>
                    <!--end blog-item -->
                        
                </div>
                <!--end col-sm-4-->
                
                <!--begin col-sm-4 -->
                <div class="col-md-4">
                    
                    <!--begin blog-item -->
                    <div class="blog-item">
                        
                        <!--begin popup image -->
                        <div class="popup-wrapper">
                            <div class="popup-gallery">
                                <a href="#">
                                    <img src="http://placehold.it/555x370" class="width-100" alt="pic">
                                    <span class="eye-wrapper2"><i class="fa fa-link eye-icon"></i></span>
                                </a>
                            </div>
                        </div>
                        <!--end popup image -->
                            
                        <!--begin blog-item_inner -->
                        <div class="blog-item-inner">
                        
                            <h3 class="blog-title"><a href="#">Affinity Designer Quick Start</a></h3>
                            
                            <a href="#" class="blog-icons"><i class="fa fa-user"></i> By John Doe</a>
                            
                            <a href="#" class="blog-icons last"><i class="fa fa-tags"></i> Marketing</a>
                            
                            <p>Quis autem velis ets reprehender net etid quiste voluptate velite esse quam nihis etsa sedit netsid varias.</p>
                             
                        </div>
                        <!--end blog-item-inner -->
                        
                    </div>
                    <!--end blog-item -->
                        
                </div>
                <!--end col-sm-4-->
                
                <!--begin col-sm-4 -->
                <div class="col-md-4">
                    
                    <!--begin blog-item -->
                    <div class="blog-item">
                        
                        <!--begin popup image -->
                        <div class="popup-wrapper">
                            <div class="popup-gallery">
                                <a href="#">
                                    <img src="http://placehold.it/555x370" class="width-100" alt="pic">
                                    <span class="eye-wrapper2"><i class="fa fa-link eye-icon"></i></span>
                                </a>
                            </div>
                        </div>
                        <!--end popup image -->
                            
                        <!--begin blog-item_inner -->
                        <div class="blog-item-inner">
                        
                            <h3 class="blog-title"><a href="#">Our Happy Team</a></h3>
                            
                            <a href="#" class="blog-icons"><i class="fa fa-user"></i> By John Doe</a>
                            
                            <a href="#" class="blog-icons last"><i class="fa fa-tags"></i> Design</a>
                            
                            <p>Quis autem velis ets reprehender net etid quiste voluptate velite esse quam nihis etsa sedit netsid varias.</p>
                             
                        </div>
                        <!--end blog-item-inner -->
                        
                    </div>
                    <!--end blog-item -->
                        
                </div>
                <!--end col-sm-4-->
             
            </div>
            <!--end row-->
    
        </div>
        <!--end container-->
    
    </section>
    <!--end blog -->
   
  	<!--begin contact -->
    <section class="section-white section-top-border" id="contact">
        
        <!--begin container-->
        <div class="container">
    
            <!--begin row-->
            <div class="row">
        
                <!--begin col-md-6 -->
				<div class="col-md-6">

					<h4>Get in touch</h4>

	                <!--begin success message -->
	                <p class="contact_success_box" style="display:none;">We received your message and you'll hear from us soon. Thank You!</p>
	                <!--end success message -->
	                
	                <!--begin contact form -->
	                <form id="contact-form" class="contact" action="php/contact.php" method="post">
                    
                        <input class="contact-input white-input" required="" name="contact_names" placeholder="Full Name*" type="text">

                        <input class="contact-input white-input" required="" name="contact_email" placeholder="Email Adress*" type="email">

                        <input class="contact-input white-input" required="" name="contact_phone" placeholder="Phone Number*" type="text">

                        <textarea class="contact-commnent white-input" rows="2" cols="20" name="contact_message" placeholder="Your Message..."></textarea>

                    	<input value="Send Message" id="submit-button" class="contact-submit" type="submit">

	                </form>
	                <!--end contact form -->
	            	
				</div>
				<!--end col-md-6 -->

                <!--begin col-md-6 -->
				<div class="col-md-6">

					<h4>How to find us</h4>

                    <iframe class="contact-maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2482.9050207912896!2d-0.14675028449633118!3d51.514958479636384!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761ad554c335c1%3A0xda2164b934c67c1a!2sOxford+St%2C+London%2C+UK!5e0!3m2!1sen!2sro!4v1485889312335" width="600" height="270" style="border:0" allowfullscreen></iframe>

					<h5>Head Office</h5>

                    <p class="contact-info"><i class="fas fa-map-marker-alt"></i> 10 Oxford Street, London, UK, E1 1EC</p>
                    
                    <p class="contact-info"><i class="fas fa-envelope"></i> <a href="mailto:contact@youremail.com">office@essentials.co.uk</a></p>
                    
                    <p class="contact-info"><i class="fas fa-phone"></i> +44 987 654 321</p>

				</div>
				<!--end col-md-6 -->

            </div>
            <!--end row-->
            
      </div>
      <!--end container-->
            
    </section>
    <!--end contact-->
 {% endblock %}   